<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Twitter Bricks</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bricks.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/config.js"></script>
</head>
<body ng-app="twitterBricks" ng-controller="ConfigController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <br />
        <div class="container">
            <div class="col-md-10">
                <input ng-model="hashTag" type="text" id="text-hashtag" class="form-control" placeholder="Digite a hastag que quer visualizar. Ex: #twitter" />
            </div>
            <div class="col-md-2">
                <button id="button-startstop" class="btn btn-primary btn-lg" ng-click="clickStartStop()">{{buttonStartStopText}}</button>
            </div>
        </div>
    </nav>
    <br />
    <br />

    <div class="container" style="margin-top: 30px" id="thewall">

    </div>
</body>
</html>